body {
    background-color: rgb(41, 41, 41);
    color: white;
    font-family: "Zilla slab";
}

h1{
    font-family: "Zilla Slab Highlight";
    text-align: center;
    font-size: 40px;
}

#container {
    display: grid;
    margin: 10px auto;
    width: 75vmin;
    height: 75vmin;  
}

.prefs{
    display: flex;
    justify-content: center;
    font-size: 16px;
    height: 28px;
    margin: 0 auto;
}

#color{
    border-radius: 7px;
    font-family: "Zilla slab";
    width: 190px;
}

#info{
    width: 150px;
    text-align: center;
    margin-top: 5px;
}

#size{
    border-radius: 7px;
    font-family: "Zilla slab";
    width: 70px;
    height: 22px;
}

#clear, #createGrid{
    background-color: #ccc;
    font-family: "Zilla slab";
    font-size: 15px;
    border-radius: 7px;
    height: 28px;
}

#clear{
    margin-left: 30px
}

#clear:hover, #createGrid:hover{
    background-color: #aaa;
}